body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    margin-top: 100px;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

textarea {
    width: 60%;
    height: 100px;
    padding: 10px;
}